<template name="ApplicationLayout">
	<head>
		<title>Trivia Rumble</title>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<header>
			<nav role="navigation">
				<div class="nav-wrapper container">
					<a href="/" id="logo-container" class="brand-logo">Trivia Rumble</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/search"><i class="material-icons left">search</i>Find Friends</a></li>
						<li><a href="/submit">Submit Trivia</a></li>
						<li><a href="/profile/{{currentUser._id}}">Profile</a></li>
						<li>{{> loginButtons align="right"}}</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			{{> yield}}
		</main>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
					© 2014 Philipp
				</div>
			</div>
		</footer>
	</body>
</template>