<template name="submit">
	<div class="container">
		<div class="row">
			<h3>Submit</h3>
		</div>
		<div class="row">
			<form class="col s12 new-trivia">
				<div class="row">
					<div class="input-field col s12">
						<input id="question" type="text" class="validate">
						<label for="question">Question</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="choice_one" type="text" class="validate">
						<label for="choice_one">Choice One</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="choice_two" type="text" class="validate">
						<label for="choice_two">Choice Two</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="choice_three" type="text" class="validate">
						<label for="choice_three">Choice Three</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="choice_four" type="text" class="validate">
						<label for="choice_four">Choice Four</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="correct_index" type="number" class="validate" min=0 max=3>
						<label for="correct_index">Correct Index</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</template>