<template name="profile">
	<div class="container">
		<div class="section">
			{{#if yourProfile}}
			<div class="row">
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							{{#with profilePic this}}
							<img src="{{this.url}}" alt="" class="profile-pic responsive-img"> {{/with}}
						</div>
					</div>
					<input type="file" class="profile-upload">
				</div>
			</div>
			<div class="row">
				<div class="col s4">
					<div class="card-panel">
						<p>User: {{this.username}}</p>
						<hr>
						<p>Game Data:</p>
					</div>
				</div>
			</div>
			{{else}}
			<div class="row">
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							{{#with profilePic this}}
							<img src="{{this.url}}" alt="" class="profile-pic responsive-img"> {{/with}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s4">
					<div class="card-panel">
						<p>User: {{this.username}}</p>
						<hr>
						<p>Game Data:</p>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</template>